.btn-transition {
  transition: background-color 1s ease;
}

.container>.row {
  display: flex;
  justify-content: space-around;
}


.row {
  display: flex;
  justify-content: center;
}

.card {
  box-shadow: 5px 5px 5px #aaaaaa;
}

.img-hover {
  transition: transform 0.3s;
}

.img-hover:hover {
  transform: scale(1.1);
}

.img-hover:hover .land-card-body {
  background-color: rgb(136, 89, 1);
  height: 80px;
  width: 110%;
}

.img-hover:hover .land-card-body-div-card-text {
  visibility: visible;
  opacity: 1;
}

.img-hover:hover .img-fluid {
  transform: scale(1.1);
}

.img-hover img {
  box-sizing: border-box;
}

.piramides{
  margin-top: 1%;
}

.land-card-body {
  background: linear-gradient(to top, rgba(249, 233, 207, 0.2), rgba(247, 247, 145, 0.2));
  position: absolute;
  margin-left: 5%;
  margin-right: 5%;
  bottom: 20%;
  height: 50px;
}

.land-card-body-div-card-text {
  visibility: hidden;
  opacity: 0;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 99%;
}

.div-btn-ir-a {
  margin-top: 50px;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1%;
}
.row-clasi {
  padding: 5%;
  width: 80%;
}

.card-contac {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.card-entrada {
  display: flex;
  flex-direction: column;
  margin-right: 10%;
}

.card-salida {
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  align-items: end;
}

.card-body-mnsg-salida {
  display: flex;
  flex-direction: column;
  align-items: end;
}

/*
.col-card-juego{
  height: 10%;
  display: flex;
}
*/
.card-juego {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card-juego-fotonombre {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20%;
}

.card-head-entrada {
  width: 60%;
  display: flex;
  justify-content: space-evenly;
}

.card-head-salida {
  width: 60%;
  display: flex;
  justify-content: space-evenly;
}

.card-body-juego {
  display: flex;
  justify-content: center;
  width: 40%;
}

.div-juego-btn .btn {
  height: 50%;
}

.col-card-juego {
  margin-top: 1%;
}




.container-perfil {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container-perfil>* {
  margin: 1%;
}

.col-perfil {
  width: 99%;
}